.l-heading {
  line-height: 4rem;
}

#what .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

@media (max-width: 500px){
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    top: 110px;
  }

  #who {
    display: block;
  }

  #who .who-img{
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #contact {
    flex-direction: column;
    /*display: block;*/
    /* The reason we can't see the map anymore because since it no longer attaches to the form horizontally */
    /* Need to add a height */
  }
  #contact .map {
    height: 200px;
    border-top: 4px #333 solid;
  }
}

@media (max-height: 568px){
  .l-heading {
    font-size: 3rem;
  }
  .lead {
    font-size: 1rem;
  }
}
